DATABASE_URL="postgresql://neondb_owner:npg_8aypUn6YJgfk@ep-calm-sun-ayybxe9x-pooler.c-5.us-east-2.aws.neon.tech/neondb?sslmode=require&channel_binding=require"

# Next.js Application URL
NEXT_PUBLIC_APP_URL="http://localhost:3000"

# Optional Gemini API Key for AI Policy Assistant
GEMINI_API_KEY=""

# Optional Resend API Key for Email OTP Verification & Notifications
RESEND_API_KEY=""
RESEND_FROM_EMAIL="Dayflow HRMS <onboarding@resend.dev>"
